html {
  padding: env(safe-area-inset);
}
body {
  font-family: "Roboto", sans-serif;
  color: #505962;
}
a {
  text-decoration: none !important;
  color: var(--light-font-color);
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: #c92b7d !important;
}

p {
  font-weight: 700;
}

.navbar-brand img {
  height: 3rem;
}

.navbar-dark {
  padding: 0.6rem 1 rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
  color: #00b3ff !important;
}

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width: 767.98px) {
}

/* Landing Page */
.landing {
  height: 100vh;
}

.home-inner {
  background-image: url("./images/background-image.jpg");
  position: absolute;
}
/* Start Landing Page Content */
.caption {
  z-index: 1;
  position: absolute;
  top: 40%;
  text-align: center;
}
.btn {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
/* End Landing Page Content */

.heading {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1rem;
}

.about .fas {
  color: #00b3ff;
}

/* FOOTER */
footer {
  /* background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a); */
  background: #343a40;
  color: white;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/* FOOTER SOCIAL ICON */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* FOOTER SOCIAL ICON */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoInstagram:hover {
  background-color: #e64770;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover {
  background-color: #1da1f2;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

/* Fixed Landing Page Section */

@media (max-width: 767.98px) {
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

.landing {
  position: relative;
  width: 100%;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}

#pricing-table {
  margin: 100px auto 50px auto;
  text-align: center;
  width: 892px;
}

#pricing-table .plan {
  font: 12px "Lucida Sans", "trebuchet MS", Arial, Helvetica;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
  float: left;
  position: relative;
}

#pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
}

#pricing-table .plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* --------------- */

#pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff, #eee);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eee),
    to(#ddd)
  );
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#pricing-table .plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

#pricing-table li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* --------------- */

#pricing-table .signup {
  position: relative;
  padding: 8px 20px;
  margin: 20px 0 0 0;
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #72ce3f;
  background-image: -moz-linear-gradient(#72ce3f, #62bc30);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#72ce3f),
    to(#62bc30)
  );
  background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
  background-image: -o-linear-gradient(#72ce3f, #62bc30);
  background-image: -ms-linear-gradient(#72ce3f, #62bc30);
  background-image: linear-gradient(#72ce3f, #62bc30);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
}

#pricing-table .signup:hover {
  background-color: #62bc30;
  background-image: -moz-linear-gradient(#62bc30, #72ce3f);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#62bc30),
    to(#72ce3f)
  );
  background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
  background-image: -o-linear-gradient(#62bc30, #72ce3f);
  background-image: -ms-linear-gradient(#62bc30, #72ce3f);
  background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing-table .signup:active,
#pricing-table .signup:focus {
  background: #62bc30;
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

/* --------------- */

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

/*-- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}
/* Start Carousel */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel .item {
  height: 300px;
}

img {
  height: 947px;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  bottom: 240px;
}

.carousel-caption h5 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 24px;
}

.carousel-caption p {
  width: 64%;
  margin: auto;
  font-size: 16px;
  line-height: 2;
}

.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 8px 32px;
  display: inline-block;
  margin-top: 16px;
}

.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#pricing-table {
  margin: 100px auto 50px auto;
  text-align: center;
  width: 892px;
}
